.use-background-color {
    background-color: var(--bs-body-bg);
}

table td:nth-child(2), table th:nth-child(2) {
    position: sticky;
    left: 0;
    z-index: 100;
    opacity: 1;
    background-color: var(--bs-body-bg);
}

#top-score-chart:fullscreen div {
    height: 100vh !important;
}

#scoreboard-table:fullscreen {
    padding: 2em;
}

.other-hover {
    opacity: 0.3;
    transition: opacity 0.25s ease-in-out;
}

.unsolved {
    opacity: 0.6;
}

.other-hover.unsolved {
    opacity: 0.2;
}

.auto-width {
    width: auto;
}