@if (challengeDetail) {
  <div class="row">
    <h3 class="mb-3">
      {{ challengeDetail.challenge.displayName }} ({{ challengeDetail.value }})
    </h3>
  </div>
  <div>
    <ul ngbNav #nav="ngbNav" class="nav nav-tabs">
      <li ngbNavItem>
        <button ngbNavLink>Challenge</button>
        <ng-template ngbNavContent>
          @if (helper.isInTheFuture(challengeDetail.challenge.hideUntil)) {
            <h5>Hidden</h5>
            <p>
              This challenge is hidden until
              {{ challengeDetail.challenge.hideUntil | date: "yyyy-MM-dd HH:mm:ss" }}
              <i class="bi bi-eye-slash-fill"></i>
            </p>
          }
          <h5>Difficulty</h5>
          @switch (challengeDetail.challenge.difficulty) {
            @case ("baby") {
              <span class="badge text-bg-info me-1 mb-2">baby</span>
            }
            @case ("easy") {
              <span class="badge text-bg-success me-1 mb-2">easy</span>
            }
            @case ("medium") {
              <span class="badge text-bg-warning me-1 mb-2">medium</span>
            }
            @case ("hard") {
              <span class="badge text-bg-danger me-1 mb-2">hard</span>
            }
            @case ("leet") {
              <span class="badge text-bg-leet me-1 mb-2">leet</span>
            }
            @default {
              <span class="badge text-bg-secondary me-1 mb-2">{{
                challengeDetail.challenge.difficulty
              }}</span>
            }
          }
          <br />
          <h5>Categories</h5>
          @for (c of challengeDetail.challenge.categories; track c) {
            <span class="badge text-bg-secondary me-1 mb-2">{{ c }}</span>
          }
          <br />
          <h5>Description</h5>
          <p [innerHTML]="challengeDetail.challenge.description"></p>
          <h5>Author</h5>
          <p>{{ challengeDetail.challenge.author }}</p>
          @if (
            challengeDetail.challenge.attachments !== null &&
            challengeDetail.challenge.attachments.length > 0
          ) {
            <h5>Attachments</h5>
          }
          <div class="flex gap-2">
            @for (
              attachment of challengeDetail.challenge.attachments;
              track attachment
            ) {
              @if (attachment.downloadUrl.startsWith("/api")) {
                <button
                  class="btn btn-secondary mb-2"
                  (click)="
                    dataService.downloadFile(
                      attachment.downloadUrl,
                      attachment.fileName
                    )
                  "
                >
                  <i class="bi bi-download"></i>
                  {{ attachment.fileName }}
                </button>
              } @else {
                <a
                  class="btn btn-secondary mb-2"
                  href="{{ attachment.downloadUrl }}"
                  target="_blank"
                  download="{{ attachment.fileName }}"
                >
                  <i class="bi bi-download"></i>
                  {{ attachment.fileName }}
                </a>
              }
            }
          </div>
          @if (challengeDetail.challenge.hasRemote) {
            <h5>Service</h5>
          }
          @if (challengeDetail.challenge.hasRemote) {
            <div>
              @if (!dataService.isAuthenticated) {
                <div class="alert alert-warning mb-3" role="alert">
                  You need to be logged in to start instances.
                </div>
              }
              @if (instance) {
                @if (instance.status === 0 && dataService.isAuthenticated) {
                  <button
                    class="btn btn-outline-success"
                    (click)="
                      dataService.startInstance(challengeDetail.challenge.name)
                    "
                  >
                    <i class="bi bi-play"></i>Start private instance
                  </button>
                }
                @if (
                  instance.name !== challengeDetail.challenge.name &&
                  dataService.isAuthenticated
                ) {
                  <div>
                    @if (instance.status !== 0) {
                      <div class="alert alert-primary" role="alert">
                        You need to stop the currently running private instance
                        to start this service.
                      </div>
                    }
                    @if (instance.status === 1 || instance.status === 2) {
                      <button
                        class="btn btn-outline-danger"
                        (click)="dataService.stopInstance()"
                      >
                        <i class="bi bi-trash"></i>Kill existing instance ({{
                          instance.name
                        }})
                      </button>
                    }
                  </div>
                }
                @if (instance.name === challengeDetail.challenge.name) {
                  <app-challenge-status></app-challenge-status>
                }
              }
            </div>
          }
          @if (dataService.isAuthenticated) {
            <hr />
            @if (flagErrorText) {
              <div class="alert alert-warning mb-3" role="alert">
                {{ flagErrorText }}
              </div>
            }
            @if (!challengeDetail.solvedByPlayer) {
              @if (hasCTFEnded) {
                <div class="alert alert-info mb-3" role="alert">
                  You can no longer submit any flags!
                </div>
              } @else {
                <div class="input-group mb-3">
                  <input
                    [disabled]="isFlagSubmitting"
                    type="text"
                    class="form-control"
                    placeholder="{{ challengeDetail.challenge.flagFormat }}"
                    (keyup.enter)="
                      submitFlag(
                        challengeDetail.challenge.name,
                        flagInput.value
                      )
                    "
                    #flagInput
                    aria-describedby="button-submit"
                  />
                  <button
                    [disabled]="isFlagSubmitting"
                    class="btn btn-primary"
                    type="button"
                    id="button-submit"
                    (click)="
                      submitFlag(
                        challengeDetail.challenge.name,
                        flagInput.value
                      )
                    "
                  >
                    <i class="bi bi-flag"></i> Submit Flag
                  </button>
                </div>
              }
            }
            @if (challengeDetail.solvedByPlayer) {
              <div class="alert alert-success mb-3" role="alert">
                <i class="bi bi-flag"></i> You have solved this challenge!
              </div>
            } @else {
              @if (challengeDetail.solvedByTeam && areTeamsEnabled) {
                <div class="alert alert-success mb-3" role="alert">
                  <i class="bi bi-flag"></i> Your team has already solved this
                  challenge! You can also submit the flag if you have worked on
                  solving it to claim credit. Note that this will not impact
                  scoring.
                </div>
              }
            }
          }
        </ng-template>
      </li>
      <li ngbNavItem>
        <button ngbNavLink>
          Solves ({{
            areTeamsEnabled
              ? challengeDetail.teamSolves.length
              : challengeDetail.playerSolves.length
          }})
        </button>
        <ng-template ngbNavContent>
          @if (areTeamsEnabled) {
            <div
              class="tab-pane"
              id="player-solves-tab-pane"
              role="tabpanel"
              aria-labelledby="player-solves-tab"
              tabindex="0"
            >
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Solved at</th>
                    <th scope="col">Team</th>
                    <th scope="col">Player(s)</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  @for (solve of challengeDetail.teamSolves; track solve) {
                    <tr>
                      <td class="text-wrap">
                        {{ solve.solvedAt | date: "yyyy-MM-dd HH:mm:ss" }}
                        <wbr />
                        <span class="text-muted text-nowrap"
                          >({{ helper.relativeTime(solve.solvedAt) }})</span
                        >
                      </td>
                      <td>
                        <a [routerLink]="['/teams', solve.teamId]">{{
                          solve.teamName
                        }}</a>
                      </td>
                      <td>
                        @for (player of solve.players; track player) {
                          <a [routerLink]="['/players', player.id]">{{
                            player.name
                          }}</a>
                          @if (!$last) {
                            <span>,&nbsp;</span>
                          }
                        }
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          } @else {
            <div
              class="tab-pane"
              id="player-solves-tab-pane"
              role="tabpanel"
              aria-labelledby="player-solves-tab"
              tabindex="0"
            >
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Solved at</th>
                    <th scope="col">Player</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  @for (solve of challengeDetail.playerSolves; track solve) {
                    <tr>
                      <td class="text-wrap">
                        {{ solve.solvedAt | date: "yyyy-MM-dd HH:mm:ss" }}
                        <wbr />
                        <span class="text-muted text-nowrap"
                          >({{ helper.relativeTime(solve.solvedAt) }})</span
                        >
                      </td>
                      <td>
                        <a [routerLink]="['/players', solve.playerId]">{{
                          solve.playerName
                        }}</a>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          }
        </ng-template>
      </li>
    </ul>
    <div class="border-start border-bottom border-end p-3">
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
} @else {
  <div class="row">
    <h3 class="mb-3">Not found</h3>
    <p>No challenge was found for the given name.</p>
  </div>
}
