@if (playerDetail) {
  <span>Player</span>
  <h1>{{ playerDetail.name }}</h1>
  <p>Score: {{ playerDetail.score }}</p>
  <div class="container mb-4">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h3 class="mb-3 mt-3">Progress</h3>
          <div class="row mb-4">
            @for (
              item of playerDetail.categoryProgress | keyvalue;
              track item
            ) {
              <div class="col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 mb-3">
                <div class="card h-100">
                  <div class="card-body">
                    <div
                      class="d-flex justify-content-between align-items-start"
                    >
                      <h5 class="card-title">{{ item.key }}</h5>
                      <small>{{ item.value }}%</small>
                    </div>
                    <div class="progress mt-2">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        [style.width]="item.value + '%'"
                        [style.background-color]="
                          helper.getPercentageColor(item.value)
                        "
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>

          @if (areTeamsEnabled) {
            <h3 class="mt-3">Team</h3>
            <div class="row">
              @if (playerDetail.team) {
                <p>
                  Member of team
                  <a [routerLink]="['/teams', playerDetail.team.id]">{{
                    playerDetail.team.name
                  }}</a>
                </p>
              } @else {
                <p>This player has not yet joined a team.</p>
              }
            </div>
          }

          @if (hasAttributes()) {
            <h3 class="mt-3">Attributes</h3>
            <div class="row">
              <div class="col">
                <ul>
                  @for (
                    attr of playerDetail.attributes | keyvalue;
                    track attr
                  ) {
                    <li>
                      <b>{{ getAttributeTitle(attr.key) }}</b
                      >: {{ getAttributeValueTitle(attr.key, attr.value) }}
                    </li>
                  }
                </ul>
              </div>
            </div>
          }

          <h3 class="mt-4">Solves</h3>
          <div>
            @if (playerDetail.solves.length > 0) {
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Challenge</th>
                    <th scope="col">Solved at (UTC)</th>
                  </tr>
                </thead>
                <tbody>
                  @for (solve of playerDetail.solves; track solve) {
                    <tr>
                      <td>
                        <a
                          [routerLink]="['/challenges', solve.challengeName]"
                          >{{ solve.challengeDisplayName }}</a
                        >
                      </td>
                      <td class="text-wrap">
                        <app-pretty-date [date]="solve.solvedAt" />
                        <wbr />
                        <span class="text-muted text-nowrap"
                          >({{ helper.relativeTime(solve.solvedAt) }})</span
                        >
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            } @else {
              <p class="text-muted">No solves yet.</p>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
} @else {
  <h1>Player not found</h1>
  <p>No player found that matches the specified player id.</p>
}
