@if (player) {
  <h1>Player: {{ player.name }}</h1>
} @else {
  <h1>Loading...</h1>
}
<div class="container mb-4">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h3 class="mb-3 mt-3">Progress</h3>
        <div class="row mb-4">
          @for (category of getPrimaryCategories(); track category) {
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 mb-3">
              <div class="card h-100">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-start">
                    <h5 class="card-title">{{ category }}</h5>
                    <small>{{ getCategoryProgress(category) }}%</small>
                  </div>
                  <div class="progress mt-2">
                    <div class="progress-bar" role="progressbar" [style.width]="getCategoryProgress(category) + '%'" [style.background-color]="getBarColor(getCategoryProgress(category))" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>

        @if (metadata && metadata.teams) {
          <h3 class="mb-3 mt-3">Team</h3>
          <div class="row mb-4">
            @if (team) {
              <p>Member of team <a [routerLink]="['/teams', team.id]">{{ team.name }}</a></p>
            } @else {
              <p>This player has not yet joined a team.</p>
            }
          </div>
        }

        <h3 class="mb-3">Solves</h3>
        <div class="card p-2">
          @if (playerSolves != undefined && playerSolves.length > 0) {
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Challenge</th>
                  <th scope="col">Solved at</th>
                </tr>
              </thead>
              <tbody>
                @for (solve of this.playerSolves; track solve) {
                  <tr>
                    <td>
                      <span role="button" [routerLink]="['/challenges', solve.challengeName]">
                        <span class="fw-semibold">{{ solve.challengeName }}</span>
                      </span>
                    </td>
                    <td class="text-wrap">
                      <app-pretty-date [date]="solve.solvedAt" />
                      <wbr />
                      <span class="text-muted text-nowrap">({{ helpers.relativeTime(solve.solvedAt) }})</span>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          } @else {
            <p class="text-muted">No solves yet.</p>
          }
        </div>
      </div>
    </div>
  </div>
</div>
