.cover-whole-page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bs-body-bg);
    overflow-y: visible;
}

.full-width {
    width: 100%;
}