<div>
  <h3 class="mb-3">Home</h3>
  <div class="card">
    <div class="card-body">
      <p>This is the /mnt/ain CTF team challenge archive! It holds many challenges that were part of previous qualifier and final ctf events of the swiss hacking challenge event.</p>
      <p>These are here for you to try out all year long as a way to prepare for the next qualifier or final ctf events or just for you to have fun with!</p>
    </div>
  </div>
  <h3 class="mb-3 mt-3">About</h3>
  <div class="card">
    <div class="card-body">
      <p>The Swiss Hacking Challenge (SHC), is the annual National Hacking Championship of Switzerland. If you love to play Capture the Flag (CTF), love Hacking and Cyber Security, you are completely right here!</p>
      <p>
        For more information about the options of what you can qualify for, pictures of the past editions and the people behind the Swiss Hacking Challenge, please visit the
        <a href="https://swiss-hacking-challenge.ch" target="_blank">Swiss Hacking Challenge Homepage</a>.
      </p>
      <p>If you haven't already, please also join our <i class="bi bi-discord"></i>&nbsp; <a href="https://discord.gg/CWGzu3Ej86" target="_blank"> Discord Server </a>.</p>
    </div>
  </div>
</div>
