<div class="row">
  <h3 class="mb-3">Challenges</h3>
</div>
@if (!hasCTFStarted && ctfStart) {
  <div class="mb-3">
    <div class="card">
      <div class="card-body">
        <p class="countdown-label">CTF starts in:</p>
        <h1 class="countdown" [ngbTooltip]="startDetails">{{ helper.getCountdownText(ctfStart, null) }}</h1>
        <ng-template #startDetails>
          <app-pretty-date [date]="ctfStart" /> UTC
        </ng-template>
      </div>
    </div>
  </div>
}

@if (hasCTFEnded) {
  <div class="mb-3">
    <div class="card">
      <div class="card-body">
        <h1>The CTF has ended. Thank you for playing!</h1>
        <span>You can no longer submit flags, but still play the challenges.</span>
      </div>
    </div>
  </div>
}

@if (instance && instance.status !== 0) {
  <div class="row mb-3">
    <div class="col">
      <div class="card">
        <div class="card-header">Private instance</div>
        <div class="card-body">
          <p class="card-text"><b>Challenge:</b>&nbsp;{{ instance.name }}</p>
          <app-challenge-status></app-challenge-status>
        </div>
      </div>
    </div>
  </div>
}
@if (primaryChallengeCategories.length != 0 || challengeDifficulties.length != 0) {
  @if (dataService.isAuthenticated) {
    <div class="row">
      <div class="col">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [checked]="hideSolvedValue" (change)="hideSolvedChange($event)" />
          <label class="form-check-label" for="hideSolved">Hide solved</label>
        </div>
      </div>
    </div>
  }
  <div class="row mb-3">
    <div class="col mt-2 mb-3">
      <div class="input-group">
        <span class="input-group-text">Category</span>
        <select class="form-select" (change)="filterCategoryChange(filterCategorySelect.value)" #filterCategorySelect>
          <option value="">Select...</option>
          @for (category of primaryChallengeCategories; track category) {
            <option value="{{ category }}">{{ category }}</option>
          }
        </select>
        <span class="input-group-text">Difficulty</span>
        <select class="form-select" (change)="filterDifficultyChange(filterDifficultySelect.value)" #filterDifficultySelect>
          <option value="">Select...</option>
          @for (difficulty of challengeDifficulties; track difficulty) {
            <option value="{{ difficulty }}">{{ difficulty }}</option>
          }
        </select>
      </div>
    </div>
  </div>
}

@for (categoryDetail of challengeDetailCategories; track categoryDetail) {
  @if (categoryDetail.challenges.length > 0) {
    <div class="mb-3 mt-3 justify-content-center">
      <h4>
        {{ categoryDetail.category }}
        @if (dataService.isAuthenticated) {
          <span class="h5"> ({{ categoryDetail.numSolved }}/{{ categoryDetail.numTotal }})</span>
        }
      </h4>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-gap-3 mb-3">
        @for (challengeDetail of categoryDetail.challenges; track challengeDetail) {
          <div class="col">
            <div class="d-grid gap-2">
              @let hasSolved = challengeDetail.solvedByPlayer || (areTeamsEnabled && challengeDetail.solvedByTeam);
              @let numSolves = areTeamsEnabled ? challengeDetail.teamSolves.length : challengeDetail.playerSolves.length;
              <a
                class="btn btn-secondary"
                tabindex="0"
                placement="top"
                [class.bg-success]="hasSolved"
                [class.border-success]="hasSolved"
                [routerLink]="['/challenges', challengeDetail.challenge.name]"
                ngbTooltip="{{ numSolves }} solve{{ numSolves === 1 ? '' : 's' }}">
                @if (hasSolved) {
                  <i class="bi bi-check"></i>
                }
                {{ challengeDetail.challenge.displayName }}
                <br/>
                <span>{{ challengeDetail.value }}</span>
                <br/>
                @switch (challengeDetail.challenge.difficulty) {
                  @case ('baby') {
                    <span class="badge text-bg-info me-1">baby</span>
                  }
                  @case ('easy') {
                    <span class="badge text-bg-success me-1">easy</span>
                  }
                  @case ('medium') {
                    <span class="badge text-bg-warning me-1">medium</span>
                  }
                  @case ('hard') {
                    <span class="badge text-bg-danger me-1">hard</span>
                  }
                  @case ('leet') {
                    <span class="badge text-bg-leet me-1">leet</span>
                  }
                  @default {
                    <span class="badge text-bg-light me-1">{{ challengeDetail.challenge.difficulty }}</span>
                  }
                }
                @for (c of challengeDetail.challenge.categories; track c) {
                  @if (!primaryChallengeCategories.includes(c)) {
                    <span class="badge text-bg-dark me-1">{{ c }}</span>
                  }
                }
              </a>
            </div>
          </div>
        }
      </div>
    </div>
  }
}
