.countdown {
    text-align: center;
}

.countdown-label {
    text-align: center;
}

.text-bg-leet {
    color: white;
    background-color: maroon;
}

.flex {
    display: flex;
}

.gap-2 {
    gap: 2px;
}
